poseact/data
poseact/scratch
poseact/models/trained/*
poseact.egg-info/
out/
open_repos/
downloads/
References/
Registration/
*.ipynb_checkpoints
*__pycache__
*.vscode
*.out
*.aux
*.bbl
*.blg
*.log
*_minted*